.col.s12.m4.article{"article-id": article.id}

  .card
    .card-author.blue-grey-text.darken-3-text.center-left
      =link_to user_path(article.user) do
        %i.material-icons face
        = article.user.name
    .card-image
      = link_to article_path(article) do
        = image_tag article.image.to_s, id: 'article-image__img'
    .card-title.blue-grey-text.darken-3-text.center-align
      %p= article.title

