.contents {
  width: 960px;
  min-height: 600px;
  margin: 20px auto;
}
.brand-logo {
  margin-left: 20px;
}
#nav-mobile {
  margin-right: 20px;
}
.comment-btn {
  margin-right: 20px;
  margin-bottom: 20px;
}
#article-image__img:hover{

        cursor: pointer;
        cursor: hand;

}
