
$skyBlueColor: #38aef0;
$chatTextColor:#434a54;
$grayTextColor:#999999;
$headerBackgroundColor: #ffffff;
$chatViewBackgroundColor: #fafafa;
$formBackgroundColor: #dddddd;
$sideBackgroundColor: #2f3e51;
